	<h2><%=article.title%></h2>
	<p><%=article.content%></p>
	<p style="margin-top: 10px; color: gray;">Created by <%= link_to article.user.name, user_path(article.user.id) %>, <%=article.created_at%></p>
	<% if can? :read, article %>
		<%= link_to 'Read', article_path(article) %>
	<% end %>
	<% if can? :update, article %>
		 | <%= link_to 'Edit', edit_article_path(article) %>
	<% end %>
	<% if can? :destroy, article %>
		 | <%= link_to 'Delete', article_path(article), method: :delete, data: { confirm: 'Are you sure?' } %>
	<% end %>
	<hr>