<div class='container'>
	<h2><b><%=@article.title%></b></h2>
	<p><%=@article.content%></p>
	<p style="margin-top: 10px; color: gray;">Created by <%= link_to @article.user.name, user_path(@article.user.id) %> at <%=@article.created_at.to_formatted_s(:long_ordinal)%></p>
	<% if can? :update, @article %>
		<%= link_to 'Edit', edit_article_path(@article) %>
	<% end %>
	<% if can? :destroy, @article %>
		 | <%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: 'Are you sure?' } %>
	<% end %>
	<hr>
	<h3><b>Comments</b></h3>
	<div style="padding-left: 30px;">
		<% if @comments.empty? %>
			<p>No comments.</p>
		<%else%>
			<%= render @comments %>
		<%end%>
		<h3>Add comment</h3>
		<% if can? :create, Comment %>
			<%= render 'comments/form' %>
		<%else%>
			<p>
				To comment this article <%= link_to "sign in", new_user_session_path%> or <%= link_to "sign up", new_user_registration_path%>.
			</p>
		<%end%>
	</div>
</div>
</div>